.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* table {
  width: 100%;
  table-layout: fixed !important;
}

table,
td,
th {
  border-collapse: collapse !important;
}
th,
td {
  padding: 10px;
  border: solid 1px;
  text-align: center !important;
} */

#root {
  height: 100vh;
}

/* 
tr{
  width: 100% !important;
}

tr {
  font-size: 0px;
  white-space: nowrap;
}
th, td {
  display: inline-block;
}

th {
  min-width:200px;
  max-width:200px
} */

th,
td {
  padding: 5px !important;
  box-sizing: border-box;
  text-overflow: ellipsis;
  height: 50px;
}

table {
  /* grid-template-columns: repeat(3, 1fr); */
}

thead,
tbody {
  width: fit-content;
}
