.wrap {
    width: 100%;
    height: 100%;
}

.list {
  width: 400px;
  height: 100%;
}

.listWrapper {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}

.postHeader {
    height: 50px;
    display: flex;
}

.postTitle {
    height: 100%;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 15px);
}

.postAction{
    width: 15px;
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.postBody {
    color: gray;
    font-size: 14px;
}

.postItem {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
}

.postContent {
    padding-left: 10px;
    padding-top: 10px;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
}



.postBody {
    width: 100%;
    height: calc(100%-10px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.userBlock {
    padding-top: 10px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fakeUserIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(88 98 191);
}

/* ///// Button styles */
/*// TODO Migrate ti separate Button component */

.loadMorebtnWrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadMorebtn {
    padding: 10px;
    font-size: 16px;
    /* background-color: rgb(88 98 191); */
    color: rgb(88 98 191);
    border-radius: 5px;
}

/* Buttons styles start */
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    /* background: #0069ed; */
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
