.searchWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.searchInput {
  margin-left: 20px;
  width: 230px;
  border-radius: 35px;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
}
